@model Film


<table id="details">
	<tr>
		<td>
			<h2>@Model.Category.Name</h2>

			@(await Component.InvokeAsync("SideMenu", new { categoryName = Model.Category.Name }))
		</td>
		<td>
			<img src="~/posters/@Model.Poster" height="250px" alt="Grafika @Model.Poster"/>
		</td>
		<td>
			<ul>
				<li><b>Tytuł: </b>@Model.Title</li>
				<li><b>Reżyser: </b>@Model.Director</li>
				<li><b>Cena: </b>@Model.Price zł</li>
				<li><b>Opis: </b>@Model.Description</li>
			</ul>
			<p><a href="@Url.Action("AddToCart", "Cart", new {filmId = Model.FilmId, returnUrl = Url.Action("Details", "Films", new { filmId = Model.FilmId })})">🛒</a></p>
		</td>
	</tr>
</table>